@media(max-width: 1300px) {
    .container {
        width: 70rem;
    }
    .portfolio-projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1200px) {
    .container {
        width: 58rem;
    }
    .about--description {
        width: 30rem;
    }
}

@media(max-width: 1000px) {
    .container {
        width: 45rem;
    }
    .about--description {
        width: 28rem;
    }
    .portfolio-projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 769px) {
    :root {
        --height-header: 60px;
    }
    .container {
        width: 100vw;
        padding: 0 2rem;
    }
    .header {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        z-index: 99999;
        background-color: inherit;
        box-shadow: 2px 0px 4px 4px #CCC;
    }
    .portfolio--types {
        justify-content: center;
    }
    .navbar {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
        justify-items: end;
        height: auto;
        min-height: var(--height-header);
    }
    .navbar--nav {
        display: none;
        transition: all .5s ease;
        height: 0px;
        opacity: 0;
    }
    .navbar--list {
        text-align: center;
        font-size: 1.2em;
    }
    .navbar--list__item a {
        padding: .8rem 0;
        font-weight: 500;
    }
    .navbar--mobile {
        display: block;
    }
    .about--description {
        width: 100%;
        text-align: center;
        align-items: center;
    }
    .about--picture {
        display: none;
    }
}
@media(max-width: 700px) {
    .portfolio-projects {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 576px) {
    html {
        font-size: 14px;
    }
    .title--section {
        display: block!important;
    }
    .title--section__desc {
        margin-left: 0;
        margin-top: 1rem;
        font-size: 1rem;
    }
}
@media(max-width: 425px) {
    html {
        font-size: 13px;
    }
    .portfolio--types .btn {
        margin: 3rem .5rem 3rem 0;
        font-size: 0.8rem;
    }
    .portfolio--projects--item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .projects--picture {
        width: 18rem;
    }
    .projects--picture__area {
        justify-content: center;
    }
    .projects--description {
        text-align: center;
    }
}
