:root {
    --height-header: 80px
}
html {
    font-family: 'Roboto', sans-serif ;
}
body {
    background-color: #FBFBFB;
    color: #445964;
}
h1,h2,h3,h4,h5 {
    font-weight: 900;
    
}
.header .navbar {
    height: var(--height-header);
}
.header h5 {
    font-size: 1.8rem;
    font-weight: bold;
}
.about {
    /* background-color: aqua; */
    height: calc(100vh - var(--height-header));
}
.about .area-title p {
    font-size: 1.2rem;
}
.about .area-title h2 {
    font-size: 4rem;
}
.about .social-media a {
    font-size: 1.5rem;
    color: inherit;
    margin-right: 1rem;
}