:root {
    --height-header: 80px;

    --bg-color: #FBFBFB;

    --color-grey: #445964;
    --color-dark-grey: #212529;
    --color-soft-grey: #DFDFDF;



    --bs-tooptip: #222;
}
.dark-mode:root {
    --bg-color: #121212;
    --color-grey: #4764FD;
    --color-dark-grey: #4764FD;
    --color-hover-dark-grey: #748aff;
    --bs-tooptip: #4764FD;
}

/* GENERAL CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif!important;
    scroll-behavior: smooth;
}
body {
    background-color: var(--bg-color);
    color: var(--color-grey);
}
a {
    text-decoration: none;
}
.container {
    width: 80rem;
    height: 100%;
    margin: auto;
    display: flex;
}
.btn {
    display: block;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
}
.btn__dark-grey {
    background-color: var(--color-dark-grey);
    color: #FFF;
}
.btn__grey {
    background-color: var(--color-grey);
    color: #FFF;
}
.btn__soft-grey {
    background-color: var(--color-soft-grey);
    color: var(--color-grey);
}
.title--section {
    color: var(--color-grey);
    font-size: 2em;
}
.title--section__title span:first-child {
    color: var(--color-dark-grey);
}
.d-none {
    display: none!important;
}

/* SESSION HEADER */
.navbar {
    width: 100%;
    height: var(--height-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar--dev {
    display: flex;
    align-items: center;
}
.navbar--dev i.fa-code {
    font-size: 2.5rem;
}
.navbar--dev__name {
    margin-left: 1.5rem;
    font-size: 1.6rem;
    font-weight: 600;
}
.navbar--mobile {
    display: none;
    width: 100%;
    margin-top: 1rem;
}
.menu-faketrigger {
    opacity: 0;
    position: absolute;
    z-index: 1000;
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.navbar--mobile_items {
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar--mobile_items span {
    display: block;
    width: inherit;
    height: 4px;
    border-radius: 2px;
    background-color: var(--color-dark-grey);
    transition: all .3s;
}
.menu-faketrigger:checked ~ .navbar--mobile_items span:nth-child(1) {
    transform-origin: 0% 0%; /* ou seja, o ponto de rotação é o da direita, que é o fim */
    transform: rotate(45deg) scaleX(1.25);
    z-index: 9;
}
.menu-faketrigger:checked ~ .navbar--mobile_items span:nth-child(2) {
    opacity: 0;
}
.menu-faketrigger:checked ~ .navbar--mobile_items span:nth-child(3) {
    transform-origin: 0% 100%; /* ou seja, o ponto de rotação é o da direita, que é o fim */
    transform: rotate(-45deg) scaleX(1.25);
    z-index: 9;
}
.showMobile {
    height: auto!important;
    opacity: 1!important;
}
.showMobile .navbar--list {
    display: block!important;
}
.navbar--nav {
    flex: 1;
}
.navbar--list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    list-style: none;
    gap: 2rem;
    transition: all .5s ease;
}
.navbar--list__item::after {
    content: '';
    width: 1px;
    height: 1px;
    background-color: transparent;
    transition: width .35s linear;
    display: block;
}
.navbar--list__item:hover::after {
    background-color: var(--color-grey);
    width: 100%;
}
.navbar--list__item a {
    padding: .3rem 1rem;
    display: block;
    color: var(--color-grey);
}


/* SESSION ABOUT */
.about {
    height: calc(100vh - var(--height-header));
}
.about--description {
    width: 42rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.about--description__title {
    line-height: 3em;
}
.about--description__title p {
    font-size: 1.2em;
    font-weight: 300;
    margin: .5em 0;
}
.about--description__title h2 {
    font-size: 3em;
}
.about--description .btn {
    margin: 2rem 0;
}
.about--social-media {
    display: flex;
}
.social-media--item {
    font-size: 1.5em;
    color: inherit;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media--item span {
    font-size: 1rem;
    position: absolute;
    display: none;
    transition: all .5s ease;
    background-color: rgba(0,0,0,.8);
    color: #FFF;
    margin-top: 2px;
    padding: 5px;
    font-size: .9rem;
    border-radius: 4px;
    opacity: 0;
}

.about--picture {
    background-image:url(../images/person.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1;
    max-width: 100%;
    height: auto;
}


.about .btn-dark {
    background-color: var(--color-dark-grey);
}
.about .btn-dark:hover {
    background-color: var(--color-hover-dark-grey);
}


/* SESSION PORTFOLIOS */
.portfolio {
    min-height: 100vh;
}
.portfolio .container {
    flex-direction: column;
}
.portfolio .title--section {
    display: flex;
    align-items: center;
}
.title--section__desc {
    margin-left: 5rem;
    font-size: 1.2rem;
}
.portfolio--types {
    display: flex;
    align-items: center;
}
.portfolio--types .btn {
    margin: 2rem 1rem 2rem 0;
}
.portfolio-projects {
    display: flex;
    gap: 1.5rem 1rem;
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: space-between; */
}
.portfolio--projects--item {
    width: 18rem;
}
.projects--picture {
    width: 100%;
    height: 10rem;
    background-color: #212529;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    /* background-image: url(../images/portfolios/quadro-desenho.webp); */
}
.projects--name {
    color: var(--color-dark-grey);
    font-size: 1.5rem;
    margin: 1rem 0;
}
.projects--description {
    margin: 1rem 0;
}
.projects--tech {
    margin: 1rem 0;
    font-weight: 300;
    font-size: .9em;
}





/* SESSION TECHS */
.techs .title--section {
    width: 100%;
    text-align: center;
}






.skills {
    min-height: 100vh;
}
.skills .skills-title {
    text-align: center;
}
.skills .skills-title {
    text-align: center;
}
.skills .skills-title p {
    text-align: center;
    font-size: 1.3rem;
}
.skills .skills-title p:last-child {
    color: var(--color-grey);
    font-size: 1.5rem;
    font-weight: bold;
}
.skills .skills-title span {
    color: #000;
}
.skills .skills-type i {
    font-size: 6.5em;
}
.skills .skills-type i.black {
    color: #000;
}
.skills .skills-type i.white {
    color: #445964;
}


